@import "tailwindcss";

@theme {
    --color-bg-main: #e6f1fe;
    --color-primary: #006fee;
    --color-secondary: #cce3fd;
    --text-subtext: #3F3F46;
    --text-label: #52525B;
    --text-table: #5f5f6a;
    --text-danger: #f31260;
    --border-table-header: #d4d4d8;
    --link-table: #71717a;
    --header-color: #fafafa;
    --input-border: #E4E4E7;
    --navbar-border: #b8d7fb;
    --color-primary-dark: #11181c;
    --tracking-tight: -0.0018em;
}

.bg-default-100 {
    background-color: #fff;
}

@config "../tailwind.config.js"