@import "tailwindcss";

@theme {
    --color-bg-main: #e6f1fe;
    --color-primary: #006fee;
    --color-secondary: #cce3fd;
    --text-subtext: #3F3F46;
    --text-label: #52525B;
    --input-border: #E4E4E7;
    --navbar-border: #b8d7fb;
    --color-primary-dark: #11181c;
    --tracking-tight: -0.0018em;
}

.bg-default-100 {
    background-color: #fff;
}

.text-foreground-500 {
    color: #52525B;
    letter-spacing: -1px;
}

@config "../tailwind.config.js"